<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>

<img src="http://rs250.pbsrc.com/albums/gg262/Bookrob/NCAA%20Logos/NCAABasketballLogo.jpg~c200" class="rounded float-left" alt="Responsive image">
<img src="http://content.sportslogos.net/news/2017/04/nba-logo-200x200.png" class="rounded float-right" alt="Responsive image">

  </div>
</div>
<div class="container">

  <div class="row">
	<div class="col-sm">
	Amazing NBA Predictanator
	</div>
	</div>
<div class="row">
    <div class="col-sm">
    
<div class="p-3 mb-2 bg-primary text-white">
	<form method="post" action="/update">
	<div>
	{{ uForm.name.label }}
	{{ uForm.name }}
	{{ uForm.points.label }}
	{{ uForm.points }}
	{{ uForm.assists.label }}
	{{ uForm.assists }}
	{{ uForm.rebounds.label }}
	{{ uForm.rebounds }}
	</div>
	{{ uForm.blocks.label }}
	{{ uForm.blocks }}
	{{ uForm.steals.label }}
	{{ uForm.steals }}
	{{ uForm.team.label }}
	{{ uForm.team }}
	{{ uForm.playerYear.label }}
	{{ uForm.playerYear }}

	<input type=submit value='Update Predictanator' name='submit_btn'>
	</form>
</div>
  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>	    
  </body>
</html>